include ../_mixin/_init

block vars

-
  var meta = data.meta[path]
  var rootURL =  data.settings.rootURL
  var assetsPath = data.settings.path.asset
  var stylePath = assetsPath + data.settings.path.style
  var scriptPath = assetsPath + data.settings.path.script
  var imgPath = assetsPath + data.settings.path.image

doctype html
html
  //- pathは各pugで定義
  head
    .
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-NSQBB4EYDP"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NSQBB4EYDP');
      </script>

    if meta.no_bot_crawl
      meta(name='robots' content='noindex,nofollow')

    title= meta.title

    meta(charset=`UTF-8`)
    meta(http-equiv=`X-UA-Compatible`, content=`IE=edge`)
    meta(name=`viewport`, content=`width=device-width,initial-scale=1.0,minimum-scale=1.0`)

    meta(name=`title`, content=meta.title)
    meta(name=`description`, content=meta.description)
    meta(name=`keywords`, content=meta.keywords)

    //- og
    //- meta.og の内容有無で title と description は分岐
    meta(property=`og:type`, content=meta.og.type)
    meta(property=`og:url`, content=meta.og.url)
    if meta.og.title
      meta(property=`og:title`, content=meta.og.title)
    else
      meta(property=`og:title`, content=meta.title)
    if meta.og.description
      meta(property=`og:description`, content=meta.og.description)
    else
      meta(property=`og:description`, content=meta.description)
    meta(property=`og:image`, content=`${rootURL}${imgPath}/common/${meta.og.image}`)
    meta(property=`og:site_name`, content=meta.og.site_name)

    //- twitter card
    meta(name=`twitter:card`, content=`summary_large_image`)

    //- icon
    link(rel=`shortcut icon`, href=`${imgPath}/common/${meta.favicon}`)
    link(rel=`apple-touch-icon` href=`${rootURL}${imgPath}/common/meta/${meta.touch-icon}`)

    //- windows icon
    if meta.windows_icon.s
      meta(name=`msapplication-square70x70logo` content=`${imgPath}/common/meta/${meta.windows_icon.s}`)
    if meta.windows_icon.m
      meta(name=`msapplication-square150x150logo` content=`${imgPath}/common/meta/${meta.windows_icon.m}`)
    if meta.windows_icon.w
      meta(name=`msapplication-wide310x150logo` content=`${imgPath}/common/meta/${meta.windows_icon.w}`)
    if meta.windows_icon.l
      meta(name=`msapplication-square310x310logo` content=`${imgPath}/common/meta/${meta.windows_icon.l}`)
    if meta.windows_icon.tile-color
      meta(name=`msapplication-TileColor` content=`${meta.windows_icon.tile-color}`)

    //- style
    link(rel=`stylesheet`, href=`${stylePath}/app.css`)

    //- font
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap' rel='stylesheet')

  body
    div(data-module="HamburgerMenu KvSetHeight")

      header
        include ../_object/block/_header

      main
        block main

      footer
        include ../_object/block/_footer

    block end_of_body
      //- js
      script(src=`${scriptPath}/app.js`)
